
<header class="bg-main dark-nav sticky top-0">
   
    <div class="top">
        <img width="65px" src="Bannari_Amman_Institute_of_Technology_logo.png">
        <h2>BIT Grievance Portal</h2>
      </div>
  <body>
  <div class="img">
    <div class="dropdown" (click)="toggleDropdown()">
    <img [src]="userimg" alt="userpic">{{name}}
            <span class="left-icon"></span>
            <span class="right-icon"></span>
            <div class="items">
              <a href="#" style="--i:1;"><span>Profile</span></a>
              <a href="#" style="--i:2;"><span>Logout</span></a>
            </div>
          </div>
    </div>
    </body>
    </header>
    
    